fastapi[all]
uvicorn
ollama                     
duckduckgo-search           
requests
beautifulsoup4
transformers                
torch                      
streamlit
newspaper3k 
lxml_html_clean
serpapi
transformers
tensorflow
tf_keras
langchain
langchain-ollama
langchain-community
watchdog
